<!DOCTYPE html>
<html lang="en" ng-app="McRemote">
<head>

    <title>Clipboard</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- CSS -->
    <link href="../../node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/mc-remote.css" rel="stylesheet">

    <!-- JS libs -->
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="../../node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="../../node_modules/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <!-- TS libs -->
    <script src="../../github/lib.json_broker/json_broker.js"></script>
    <script src="../../ts/application.js"></script>
    <script src="../../ts/session.js"></script>
    <script src="../../ts/page.js"></script>


    <script src="clipboard.js"></script>
    <script src="index.js"></script>

</head>
<body>



<!--
#include <body-nav.navbar.html>
-->


<div class="container" ng-controller="index">


    <br>

    <div class="row">

        <div class="col-xs-12">
            <textarea class="form-control" rows="3" ng-model="viewController.clipboardAsText"></textarea>
        </div>

    </div>

    <br>

    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default" ng-click="viewController.copyButtonOnClick()" style="width: 100%;">
                Copy from remote clipboard
            </button>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default" ng-click="viewController.pasteButtonOnClick()" style="width: 100%;">
                Paste to remote clipboard
            </button>
        </div>
    </div>

</div>



</body>
</html>