
<div class="row">

    <div class="col-xs-12">
        <textarea class="form-control" rows="3" ng-model="$ctrl.clipboardAsText"></textarea>
    </div>

</div>

<br>

<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-default" ng-click="$ctrl.copyButtonOnClick()" style="width: 100%;">
            Copy from remote clipboard
        </button>
    </div>
</div>

<br>


<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-default" ng-click="$ctrl.pasteButtonOnClick()" style="width: 100%;">
            Paste to remote clipboard
        </button>
    </div>
</div>
