<!DOCTYPE html>
<html lang="en" ng-app="McRemote">
<head>

    <title>Finder</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- CSS -->
    <link href="../../node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/mc-remote.css" rel="stylesheet">

    <!-- JS libs -->
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="../../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../../node_modules/angular-bootstrap-npm/dist/angular-bootstrap-tpls.min.js"></script>

    <!-- TS libs -->
    <script src="../../component/popup.js"></script>
    <script src="../../github/lib.json_broker/json_broker.js"></script>

    <script src="../../ts/application.js"></script>
    <script src="../../ts/page.js"></script>
    <script src="../../ts/session.js"></script>

    <script src="com.apple.finder.js"></script>
    <script src="index.js"></script>

</head>
<body >




<div class="container" ng-controller="index">

    <div class="row">

        <div class="col-xs-3">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div>{{roots.current._name}} <span class="caret"></span></div>
                </button>
                <ul class="dropdown-menu" >
                    <li role="separator" class="divider"></li>
                    <li ng-repeat="rootLocation in viewController.roots.places" ng-click="viewController.rootLocationOnSelect(rootLocation)">
                        <a href="#"><i class="{{rootLocation._iconClass}}"></i> {{rootLocation._name}} <i ng-if="rootLocation === roots.current" class="fa fa-check"></i></a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li ng-repeat="rootLocation in viewController.roots.disks" ng-click="viewController.rootLocationOnSelect(rootLocation)">
                        <a href="#"><i class="fa fa-hdd-o"></i> {{rootLocation._name}} <i ng-if="rootLocation === roots.current" class="fa fa-check"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-9">
            <h2><span class="glyphicon glyphicon-folder-open"></span> {{currentFolder.folderName}}</h2>
        </div>
    </div>

    <div class="row">
        <hr>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li ng-repeat="pathComponent in currentFolder.pathComponents" ng-if="!$last">
                    <a ng-if="!$last" ng-click="viewController.breadcrumbOnClick(pathComponent)">{{pathComponent.name}}</a>
                </li>
                <li ng-repeat="pathComponent in currentFolder.pathComponents" ng-if="$last" class="active">
                    {{pathComponent.name}}
                </li>
            </ol>
        </div>
    </div>



    <div>

        <div class="row" ng-repeat="folder in currentFolder.folders">
            <div class="col-xs-12">
                <button class="btn btn-default" ng-click="viewController.openFolder(folder)" style="width: 100%;">
                    <div class="pull-left">
                        <span class="glyphicon glyphicon-folder-close"></span> {{folder._name}}
                    </div>
                </button>
            </div>
        </div>
        <div class="row" ng-if="0===currentFolder.folders.length">
            <div class="col-xs-12">
                No folders
            </div>
        </div>
    </div>

    <div>
        <hr>
    </div>

    <div>
        <div class="row" ng-repeat="file in currentFolder.files">
            <div class="col-xs-12">
                <button class="btn btn-default" ng-click="viewController.fileButtonOnClick( file )" style="width: 100%;">
                    <div class="pull-left">
                        <span class="glyphicon glyphicon-file"></span> {{file._name}}
                    </div>
                </button>
            </div>
        </div>
        <div class="row" ng-if="0===currentFolder.files.length">
            <div class="col-xs-12">
                No files
            </div>
        </div>
    </div>

</div>







</body>
</html>